/* Use your own code or past solution for Great Idea Web Page CSS here! */

/*.container {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}*/

@media(max-width: 1024px){
	.container {
		display: flex;
		width: 1024px;
		border: none;
		justify-content: space-between;
		/*
		display: flex-flow;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		flex-flow: flex-start;*/
	}
	
	.container nav{
		margin: 35px 0 0 50px;
	}
	
	.container nav a {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		color: grey;
		text-decoration: none;
		margin-top: 65px;
		margin-left: 65px;
		/*display: flex;*/
		/*flex-flow: flex-start;*/
		/*flex-direction: row ltr;*/
		/*flex-direction: row ltr;*/
		/*justify-content: flex-start;*/
	}
	
	.container nav a:hover{
		background-color: aliceblue;
	}
	
	.container nav a:active{
		background-color: darkslategray;
	}
	
	.container .logo {
		border: none;
		margin: 10px 0px 0px 0px;
	}
	
	#innovation-on-demand{
		display: flex;
		justify-content: center;
		width: 1024px;
		/*display: flex;
		border: solid;
		display: flex;
		margin-left: 1000px;
		*/
		margin: 0px 0px 0px 180px;
	}
	
	.slogan {
		font-family: Bangers;
		font-size: 26px;
		text-align: center;
		border: none;
		height: 385px;
		width: 400px;
		padding: 10px;
		margin: 100px -500px 0px 0px;
	}
	
	button {
		display: flex;
		font-size: 16px;
		height: 40px;
		width: 140px;
		padding: 10px 10px 10px 30px;
		border: black solid;
		margin: 70px 0px -10px 130px;
	}
	
	button:hover{
		background-color: lightgray;
	}
	
	button:active{
		background-color: darkgray;
	}
	
	.code {	
		border: none;
		margin: 100px 0 0 450px;
	}
	
	hr {
		width: 1024px;
		border: 1px solid black;
		margin: 40px 0px 0px -120px; 
	}
	
	.top-content {
		font-family: Titillium-Web;
		width: 1024px;
		border: none;
		margin: 20px 0px 0px 75px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	
	.top-content .features h3 {
		font-family: Bangers;
		font-size: 20px;
	}
	
	.top-content .features p {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		margin: -20px 0px 0px 0px;
	}
	
	.top-content .about h3 {
		font-family: Bangers;
		font-size: 20px;
		padding: 0 auto;
	}
	
	.top-content .about p {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		padding: 0 auto;
		margin: -20px 0px 0px 0px;
	}
	
	.middle-content {
		width: 1024px;
		display: flex;
		justify-content: space-evenly;
		margin: 0px 0px 0px 70px;
	}
	
	.middle-content .middle-img {
		height: 182px;
		width: 876px;
		border: solid;
		margin-top: 40px;
		margin-left: 0px;
		align-content: center;
	}
	
	.bottom-content {
		font-family: Titillium-Web;
		border: none;
		display: flex;
		justify-content: space-evenly;
		margin: 40px 0px 0px 110px; 
	}
	
	.bottom-content .services h3 {
		font-family: Bangers;
		font-size: 20px;
	}
	
	.bottom-content .services p {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		height: 100px;
		width: 280px;
		margin: 0px 10px 0px 0px;
	}
	
	.bottom-content .product h3 {
		font-family: Bangers;
		font-size: 20px;
	}
	
	.bottom-content .product p {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		height: 100px;
		width: 280px;
		margin: 0px 10px 0px 0px;
	}
	
	.bottom-content .vision h3 {
		font-family: Bangers;
		font-size: 20px;
	}
	
	.bottom-content .vision p {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		height: 100px;
		width: 280px;
		margin: 0px 10px 0px 0px;
	}

	hr.second.line {
		width: 1024px;
		border: 1px solid black;
		margin: 40px 0px 0px 70px; 
	}
	
	h5.contact {
		font-family: Bangers;
		font-size: 20px;
		font-weight: bold;
	}
	
	.contact-content {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		margin: 0px 0px 0px 250px;
	}
	
	.greatidea {
		font-family: Titillium-Web;
		font-size: 16px;
		font-weight: normal;
		display: flex;
		justify-content: center;
		margin: 0px 0px 0px 320px;
	}
}

@media(max-width: 768px){
	.container{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 768px;
	}
	.container nav {
		flex-direction: column;
		justify-content: space-evenly;
		margin: 2rem 0rem 0rem 0rem;
	}
	.logo{
		flex-wrap: wrap-reverse;
	}
	.slogan{
		justify-content: center;
	}
	button{
		justify-content: center;
	}
	.contain-content .top-content{
		display: flex;
		flex-direction: row;
	}
	.features {
		justify-content: space-evenly;
	}
	.about {
		justify-content: space-evenly;
	}
	.middle-content img.middle-img {
		justify-content:space-evenly;    
	}
	.contain-content .bottom-content {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}